* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

main {
  background-color: aquamarine;
  width: 1440px;
  height: 800px;
  align-content: center;
}

.Phone {
  width: 247px;
  height: 505px;
  margin-top: 75px;
  /* margin-left: 350px; */
  margin-left: 271.5px;
  background-color: #FFFFFF;
  /* background-color: red; */
  box-shadow: 0 30px 60px 10px rgba(62, 39, 83, 0.251202);
  border-radius: 30px;
  z-index: 1;
  position: relative;
}

.Phone > .phone-screen {
  background-color: rgba(244, 242, 246, 1);
  height: 490px;
  width: 231px;
  border-radius: 20px;
  padding: 20px;
  margin:8px 8px 8px 8px;
}

.phone-screen {
  margin: 8px 6.5px 8px 8px;
}
.phone-screen > .phone-header-space {
  background: #ffffff;
  border-radius: 20px;
  width: 129px;
  height: 29px;
  left: 50px;
  position: relative;
  /* bottom: 65.5px; */
  bottom: 66px;
  z-index: 1;
  border-radius: 0px 0px 14px 14px;
  margin: 0 0 0 -23px;
  /* top: 148px; */
}

.phone-header {
  width: 228px;
  height: 66px;
  background-image: linear-gradient(
    rgba(232, 68, 255, 1),
    rgba(135, 57, 255, 1));
  box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
  border-radius: 20px 20px 6px 6px;
  /* z-index: 1; */
  margin: -10px -15px 0 -20px;
  
}

.Description h4 {
  width: 445px;
  height: 47px;
  /* margin-top: -390px; */
  margin-left: 735px;
  font-weight: 500;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 47px;
  color: #3e2753;
}

.Description p {
  width: 450px;
  height: 112px;
  line-height: 28px;
  font-size: 18.5px;
  color: #a39da9;
  font-weight: 400;
  margin-left: 735px;
}

.Description {
  margin-top: -500px;
}

.container-phone {
  width: 247px;
  height: 505px;
  margin-left: 363px;
  margin-top: -300px;
  border-radius: 30px;
  background-color: #ffffff;
}

.wrapper-phone {
  background-color: rgba(62, 39, 83, 0.2512);
  width: 228px;
  height: 483px;
  margin-top: -500px;
  margin-left: 372.5px;
}
/* OVAL SHAPES */
.Purple-Oval {
  /* width: 510px; */
  /* height:1018px; */
  margin-top: -580px;
  margin-left: -90px;
  /* background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%); */
  /* border-radius: 255px; */
  /* z-index: 1; */
}
.White-Oval {
  margin-top: -500px;
  margin-left: 1115px;
  /* left: 100px;
  position: absolute; */
}
