* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: aquamarine;
  width: 1440px;
  height: 800px;
  align-content: center;
  overflow: hidden;
}

.Phone {
  width: 247px;
  height: 505px;
  margin-top: 75px;
  /* margin-left: 350px; */
  margin-left: 271.5px;
  background-color: #ffffff;
  /* background-color: red; */
  box-shadow: 0 30px 60px 10px rgba(62, 39, 83, 0.251202);
  border-radius: 30px;
  z-index: 1;
  position: relative;
}

.Phone > .phone-screen {
  background-color: rgba(244, 242, 246, 1);
  height: 490px;
  width: 231px;
  border-radius: 20px;
  padding: 20px;
  margin: 8px 8px 8px 8px;
}

.phone-screen {
  margin: 8px 6.5px 8px 8px;
}
.phone-screen > .phone-header-space {
  background: #ffffff;
  border-radius: 20px;
  width: 129px;
  height: 29px;
  left: 50px;
  position: relative;
  /* bottom: 65.5px; */
  bottom: 66px;
  z-index: 1;
  border-radius: 0px 0px 14px 14px;
  /* margin: 0 0 0 -23px; */
  margin: 0 0 0 -18px;
  /* top: 148px; */
}

.phone-header {
  width: 228px;
  height: 66px;
  background-image: linear-gradient(
    rgba(232, 68, 255, 1),
    rgba(135, 57, 255, 1)
  );
  box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
  border-radius: 20px 20px 6px 6px;
  /* z-index: 1; */
  margin: -10px 0 0 -19px;
}

.phone-header .arrow {
  top: -6px;
  left: 10px;
  position: relative;
}

.avatar {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100%;
  margin-top: 35px;
  margin-left: 15px;
}

.Profile-wrapper {
  width: 196px;
  height: 24px;
}

.phone-header .Profile-wrapper .Profile-status {
  width: 74px;
  height: 24px;
  margin-left: 40px;
  margin-top: -25px;
}

.Profile-wrapper h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 28%;
  margin-top: -15.5%;
  width: 74px;
  height: 13px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.04px;
  color: #ffffff;
}

.Profile-wrapper p {
  width: 62px;
  height: 9px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 8px;
  line-height: 9.48px;
  color: #d99eff;
  margin-left: 28%;
  margin-top: calc(1.5% - 15px / 2 + 6.5px);
}

.Profile-wrapper .dot {
  width: 2px;
  height: 8px;
  /* height: 10px;
  width: 10px; */
  top: 55.9px;
  left: 220px;
  position: absolute;
}

.phone-screen .chat1 {
  width: 128px;
  height: 34px;
  position: absolute;
  /* left: 100%; */
  /* right: -100%; */
  background: #eee5f4;
  background-color: black;
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat1 p {
  position: absolute;
  width: 112px;
  height: 22px;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 22px / 2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat2 {
  width: 128px;
  height: 34px;
  left: 100%;
  right: -100%;
  margin-top: 21%;
  /* background: #eee5f4; */
  background-color: red;
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat2 p {
  position: absolute;
  width: 112px;
  height: 22px;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 22px / 2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.DogPhotos {
  position: absolute;
  width: 136px;
  height: 40px;
  top: 0;
  left: -10px;
}

.DogPhoto1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}

.DogPhoto2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 150px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}

.DogPhoto3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 200px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}

.phone-screen .chat3 {
  position: absolute;
  /* background: #FFFFFF; */
  width: 128px;
  height: 34px;
  left: 40.5%;
  right: 0%;
  top: 50%;
  /* bottom: 0%; */
  background-color: yellow;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
}

.phone-screen .chat3 p {
  position: absolute;
  height: 22px;
  left: 6.25%;
  /* right: 6.25%; */
  top: calc(50% - 22px / 2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #6e5d7e;
}

.phone-screen .chat4 {
  height: 23px;
  width: 80px;
  position: absolute;
  /* left: 7%; */
  right: 7.5%;
  top: calc(60.5% - 22px / 2);
  /* bottom: 0%; */
  /* background: #FFFFFF; */
  background-color: #3e2753;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
}

.phone-screen .chat4 p {
  position: absolute;
  height: 11px;
  left: 10%;
  right: 10%;
  top: calc(50% - 11px / 2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #6e5d7e;
}

.phone-screen .chat5 {
  height: 45px;
  width: 128px;
  /* position: absolute; */
  /* background: #EEE5F4; */
  background-color: green;
  border-radius: 10px 10px 4px 10px;
  /* left: 100%;
  right: -100%; */
  margin-top: 85%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat5 p {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 33px / 2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
}

.Chat-Price1 {
  width: 160px;
  height: 32px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-color: brown;
  margin-top: 3.5%;
}

.Chat-Price1 .circle {
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  background-color: tomato;
  position: absolute;
  left: 85%;
  /* right: 87.5%; */
  top: 31.25%;
  /* bottom: 31.25%; */
  border: 1px solid #e472ff;
  border-radius: 100%;
}

.Chat-Price1 .duration{

}


.Description h4 {
  width: 445px;
  height: 47px;
  /* margin-top: -390px; */
  margin-left: 735px;
  font-weight: 500;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 47px;
  color: #3e2753;
}

.Description p {
  width: 450px;
  height: 112px;
  line-height: 28px;
  font-size: 18.5px;
  color: #a39da9;
  font-weight: 400;
  margin-left: 735px;
}

.Description {
  margin-top: -500px;
}

.container-phone {
  width: 247px;
  height: 505px;
  margin-left: 363px;
  margin-top: -300px;
  border-radius: 30px;
  background-color: #ffffff;
}

.wrapper-phone {
  background-color: rgba(62, 39, 83, 0.2512);
  width: 228px;
  height: 483px;
  margin-top: -500px;
  margin-left: 372.5px;
}
/* OVAL SHAPES */
.Purple-Oval {
  /* width: 510px; */
  /* height:1018px; */
  margin-top: -580px;
  margin-left: -90px;
  /* background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%); */
  /* border-radius: 255px; */
  /* z-index: 1; */
}
.White-Oval {
  margin-top: -500px;
  margin-left: 1115px;
  /* left: 100px;
  position: absolute; */
}
