* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(270, 20%, 96%);
  height: 100vh;
  overflow: hidden;
}



/* Phone Body */
.Phone {
  width: 247px;
  height: 505px;
  margin-top: -150px;
  margin-left: 360px;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 10px rgba(62, 39, 83, 0.251202);
  border-radius: 30px;
  z-index: 1;
  position: absolute;
}

.Phone>.phone-screen {
  background-color: rgba(244, 242, 246, 1);
  height: 480px;
  width: 231px;
  border-radius: 20px;
  padding: 20px;
  margin: 8px 8px 8px 8px;
}

.phone-screen>.phone-header-space {
  background: #ffffff;
  border-radius: 20px;
  width: 129px;
  height: 29px;
  left: 50px;
  position: relative;
  bottom: 66px;
  border-radius: 0px 0px 14px 14px;
  margin: 0 0 0 -20px;
}

/* Phone header & Profile */
.phone-header {
  width: 228px;
  height: 66px;
  background-image: linear-gradient(rgba(232, 68, 255, 1),
      rgba(135, 57, 255, 1));
  box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
  border-radius: 20px 20px 6px 6px;
  margin: -20px 0 0 -19px;
}

.phone-header .arrow {
  top: -6px;
  left: 10px;
  position: relative;
}

.avatar {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100%;
  margin-top: 35px;
  margin-left: 15px;
}
.avatar:hover{
  transform: scale(1.19);
}

.Profile-wrapper {
  width: 196px;
  height: 24px;
}

.phone-header .Profile-wrapper .Profile-status {
  width: 74px;
  height: 24px;
  margin-left: 40px;
  margin-top: -25px;
}

.Profile-wrapper h4 {
  margin-left: 28%;
  margin-top: -15.5%;
  width: 74px;
  height: 13px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.04px;
  color: #ffffff;
}

.Profile-wrapper p {
  width: 62px;
  height: 9px;
  font-size: 8px;
  line-height: 9.48px;
  color: #d99eff;
  margin-left: 28%;
  margin-top: calc(1.5% - 15px / 2 + 6.5px);
}

.Profile-wrapper .dot {
  width: 2px;
  height: 8px;
  top: 55.9px;
  left: 220px;
  position: absolute;
}

/* Chat Display */
.phone-screen .chat1 {
  width: 128px;
  height: 34px;
  position: absolute;
  top: 17%;
  left: 7%;
  background: #eee5f4;
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat1 p {
  position: absolute;
  width: 112px;
  height: 22px;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 22px / 2);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat2 {
  position: absolute;
  width: 128px;
  height: 34px;
  top: 25%;
  left: 7%;
  background: #eee5f4;
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat2 p {
  position: absolute;
  width: 112px;
  height: 22px;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 22px / 2);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Dog Photos */
.DogPhotos {
  position: absolute;
  width: 136px;
  height: 40px;
  top: -4%;
  left: -10px;
}

.DogPhoto1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}
.DogPhoto1:hover{
  transform: scale(1.19);
}

.DogPhoto2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 150px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}
.DogPhoto2:hover{
  transform: scale(1.19);
}

.DogPhoto3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 200px;
  top: 200px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px;
}
.DogPhoto3:hover{
  transform: scale(1.19);
}

/* Chat Display */
.phone-screen .chat3 {
  position: absolute;
  background: #ffffff;
  width: 128px;
  height: 34px;
  left: 40.5%;
  right: 0%;
  top: 45%;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
}

.phone-screen .chat3 p {
  position: absolute;
  height: 22px;
  left: 6.25%;
  top: calc(50% - 22px / 2);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #6e5d7e;
}

.phone-screen .chat4 {
  height: 23px;
  width: 80px;
  position: absolute;
  right: 7.5%;
  top: 53%;
  background: #ffffff;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
}

.phone-screen .chat4 p {
  position: absolute;
  height: 11px;
  left: 10%;
  right: 10%;
  top: calc(50% - 11px / 2);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #6e5d7e;
}

.phone-screen .chat5 {
  height: 45px;
  width: 128px;
  position: absolute;
  background: #eee5f4;
  border-radius: 10px 10px 4px 10px;
  left: 7%;
  top: 61%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.phone-screen .chat5 p {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: 6.25%;
  right: 6.25%;
  top: calc(50% - 33px / 2);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9341c8;
}

/* Prices Display */
.Chat-Price1 {
  width: 160px;
  height: 32px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  position: absolute;
  top: 71.5%;
  left: 7%;
}

.Chat-Price1 .circle {
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  position: absolute;
  left: 85%;
  top: 31.25%;
  border: 1px solid #e472ff;
  border-radius: 100%;
}

.Chat-Price1 .duration {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 57px;
  height: 11px;
  font-size: 8px;
  line-height: 11px;
  position: absolute;
  left: 42.5%;
  top: calc(50% - 11px / 2 + 0.5px);
  color: #ffffff;
}

.amount {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  height: 11px;
  left: 10%;
  top: calc(50% - 11px / 2 + 0.5px);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  color: #ffffff;
}

.Chat-Price2 {
  width: 160px;
  height: 32px;
  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
  border-radius: 10px 10px 4px 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 79.5%;
  left: 7%;
}

.Chat-Price2 .circle2 {
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  position: absolute;
  left: 85%;
  top: 31.25%;
  border: 1px solid #e472ff;
  border-radius: 100%;
}

.Chat-Price2 .duration2 {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 57px;
  height: 11px;
  font-size: 8px;
  line-height: 11px;
  position: absolute;
  left: 42.5%;
  top: calc(50% - 11px / 2 + 0.5px);
  color: #ffffff;
}

.amount2 {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  height: 11px;
  left: 10%;
  top: calc(50% - 11px / 2 + 0.5px);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  color: #ffffff;
}

/* Message Space */
.Chat-Space {
  width: 213px;
  height: 33.91px;
  position: absolute;
  left: 7%;
  right: 7%;
  top: 87.5%;
  background: #ffffff;
  border-radius: 16.9544px;
}

.Type-message,input {
  position: absolute;
  width: 92.23px;
  height: 11px;
  left: 9.12%;
  right: 47.58%;
  top: calc(50% - 11px / 2 + 1.56px);
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: -0.0703125px;
  color: #c5c9cc;
}

.submit-circle {
  width: 24.27px;
  height: 24.22px;
  background-color: #3e2753;
  border-radius: 100%;
  position: absolute;
  position: absolute;
  left: 86.38%;
  right: 2.22%;
  top: 14.25%;
  bottom: 14.52%;
}
.submit-circle:hover{
  transform: scale(1.19);
}

.submit-arrow {
  width: 6.07px;
  height: 9.69px;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 30%;
}

.Description h4 {
  width: 445px;
  height: 47px;
  margin-left: 735px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #3e2753;
}

.Description p {
  width: 450px;
  height: 112px;
  line-height: 28px;
  font-size: 18.5px;
  color: #a39da9;
  font-weight: 400;
  margin-left: 735px;
}

.Description {
  margin-top: 250px;
}

/* OVAL SHAPES */
.purple-oval {
  width: 510px;
  height: 950px;
  position: absolute;
  background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
  left: -90px;
  top: -318px;
  border-radius: 255px;
}

.white-oval {
  width: 510px;
  height: 1018px;
  position: absolute;
  bottom: -318px;
  background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
  left: 1080px;
  top: 100px;
  border-radius: 255px;
  opacity: 0.03;
}


.msg{
      overflow: hidden;
      opacity: 0;
      transition: opacity 400ms ease, transform 400ms ease;
}

.show {
  overflow: visible;
  opacity: 1;
}

/* media query */
@media only screen and (max-width: 375px) {
  body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
    overflow: scroll ;
    overflow-x: hidden;
  
  }

  /* Oval shape */
  .purple-oval {
    width: 510px;
    height: 900px;
    position: absolute;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    left: -322px;
    top: -318px;
    border-radius: 255px;
  }

  .white-oval {
    width: 510px;
    height: 1018px;
    position: absolute;
    bottom: -318px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    left: 250px;
    top: 460px;
    border-radius: 255px;
    opacity: 0.03;
  }


  /* Phone Body */
  .Phone {
    width: 247px;
    height: 505px;
    margin-left: 70px;
    margin-top: -500px;
    margin-top: -600px;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 10px rgba(62, 39, 83, 0.251202);
    border-radius: 30px;
    z-index: 1;
    position: absolute;
  }

  /* DESCRIPTION */
  .Description {
    margin-top: 600px;
    margin-top: 800px;
    margin-top: 700px;
    margin-left: -700px;
    width: 311px;
    height: 239px;
    text-align: center;
  }

  .Description h4 {
    width: 311px;
    height: 47px;
  }

  .Description p {
    width: 311px;
    height: 168px;
  }

  /* footer */
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50%;
    color: hsl(228, 45%, 44%);
  }
}